/build
/import
/log
/tomcat/logs
/tomcat/conf/Catalina/localhost/media.xml
/tomcat/webapps/media
/tomcat/work
/core/log
/core/target
/core/tmp
/gui/target
/tools/target
/web/log
/web/target
/tmp
/medialib-server.exe
Thumbs.db
