<?xml version="1.0" encoding="ISO-8859-1"?>

<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>

    <display-name>Media Manager</display-name>

	<servlet>
		<servlet-name>xp</servlet-name>
		<display-name>XPServlet</display-name>
		<description>Servlet handling .xp files</description>
		<servlet-class>com.kiwisoft.xp.XPServlet</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>print.videos</servlet-name>
		<display-name>PrintVideosServlet</display-name>
		<description>Servlet for creating PDF for videos</description>
		<servlet-class>com.kiwisoft.media.video.PrintVideosServlet</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>add_link</servlet-name>
		<display-name>Add Link Servlet</display-name>
		<description>Servlet to add new show links</description>
		<servlet-class>com.kiwisoft.media.AddLinkServlet</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>search</servlet-name>
		<display-name>Search Servlet</display-name>
		<description>Search for all type of objects</description>
		<servlet-class>com.kiwisoft.media.SearchServlet</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>import_imdb</servlet-name>
		<display-name>Import IMDb</display-name>
		<description>Servlet import movie data</description>
		<servlet-class>com.kiwisoft.media.movie.IMDbServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>xp</servlet-name>
		<url-pattern>*.xp</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>print.videos</servlet-name>
		<url-pattern>/videos/print.pdf</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>add_link</servlet-name>
		<url-pattern>/add_link</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>search</servlet-name>
		<url-pattern>/search</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>import_imdb</servlet-name>
		<url-pattern>/import_imdb</url-pattern>
	</servlet-mapping>

	<taglib>
		<taglib-uri>http://www.kiwisoft.de/media/xp</taglib-uri>
		<taglib-location>/WEB-INF/xp.tld</taglib-location>
	</taglib>

	<taglib>
		<taglib-uri>http://www.kiwisoft.de/media</taglib-uri>
		<taglib-location>/WEB-INF/media.tld</taglib-location>
	</taglib>
</web-app>
