<?xml version="1.0" encoding="ISO-8859-1"?>

<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>

    <display-name>Media Manager</display-name>

	<servlet>
		<servlet-name>xp</servlet-name>
		<display-name>XPServlet</display-name>
		<description>Servlet handling .xp files</description>
		<servlet-class>com.kiwisoft.xp.XPServlet</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>create.pdf</servlet-name>
		<display-name>PDFServlet</display-name>
		<description>Servlet for creating PDF documents</description>
		<servlet-class>com.kiwisoft.media.PDFServlet</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>file</servlet-name>
		<display-name>MediaFileServlet</display-name>
		<description>Streams images and other resources from file system</description>
		<servlet-class>com.kiwisoft.media.pics.MediaFileServlet</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>resource</servlet-name>
		<display-name>ResourceServlet</display-name>
		<description>Streams resources from file system</description>
		<servlet-class>com.kiwisoft.media.ResourceServlet</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>search</servlet-name>
		<display-name>Search Servlet</display-name>
		<description>Search for all type of objects</description>
		<servlet-class>com.kiwisoft.media.SearchServlet</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>import_imdb</servlet-name>
		<display-name>Import IMDb</display-name>
		<description>Servlet import movie data</description>
		<servlet-class>com.kiwisoft.media.movie.IMDbServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>StartupServlet</servlet-name>
		<display-name>Media Manager Web Application Initializer</display-name>
		<servlet-class>com.kiwisoft.media.web.StartupServlet</servlet-class>
		<load-on-startup>0</load-on-startup>
	</servlet>

	<servlet-mapping>
		<servlet-name>xp</servlet-name>
		<url-pattern>*.xp</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>create.pdf</servlet-name>
		<url-pattern>/create.pdf</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>search</servlet-name>
		<url-pattern>/search</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>import_imdb</servlet-name>
		<url-pattern>/movies/import_imdb</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>file</servlet-name>
		<url-pattern>/file/*</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>resource</servlet-name>
		<url-pattern>/resource</url-pattern>
	</servlet-mapping>

	<taglib>
		<taglib-uri>http://www.kiwisoft.de/media/xp</taglib-uri>
		<taglib-location>/WEB-INF/xp.tld</taglib-location>
	</taglib>

	<taglib>
		<taglib-uri>http://www.kiwisoft.de/media</taglib-uri>
		<taglib-location>/WEB-INF/media.tld</taglib-location>
	</taglib>
</web-app>
