<?xml version="1.0" encoding="ISO-8859-1" ?>

<configuration>
	<parameter name="proxy.use">false</parameter>

	<parameter name="path.root">C:\Users\Stefan\Java\media\data</parameter>

	<parameter name="db.mappings">com/kiwisoft/media/db/mappings.xml</parameter>
	<parameter name="db.driver">com.mysql.jdbc.Driver</parameter>
	<parameter name="db.url">jdbc:mysql://localhost:3306/media&amp;characterEncoding=UTF-8</parameter>
	<parameter name="db.user">stefan</parameter>
	<parameter name="db.password">bokada</parameter>
	<parameter name="db.logChanges">true</parameter>
	<parameter name="db.changeLog.dir">C:\Users\Stefan\Java\media\log</parameter>

	<parameter name="fileStore.path">.files</parameter>
</configuration>